# Datos pesados y cuarentenas
data/
dlq/
salida1_txt/
checkpoints/

# Entornos virtuales y cachés
.venv/
venv/
__pycache__/
.vscode/
*.egg-info/

# Archivos locales y de seguridad de Apache Airflow
logs/
airflow.db
airflow-webserver.pid
airflow.cfg
webserver_config.py
standalone_admin_password.txt

# Variables de entorno locales (ver .env.example)
.env